body {
	padding-top: 10px;
	text-align: center;
	background-color: #E6E6FA;
}

.form {
margin: auto;
background-color: #ADD8E6;
width: 900px;
height: 300px;

}
	span {
	  padding: 10px;
	  font-size: 15pt;
	}
	#vvod, #result {
	  width: 400px;
	  height: 150px;
	  padding: 10px;
	  background-color: #FFFF33;
	  font-size: 15px;
	}

	button {
		font-size: 20px;
		border: none;
		background-color: #00FF00;
	}
